# cache
__pycache__
.idea
.cache

# python
*.pyc
.venv
venv

# PyPi
dist
build
.vscode/*
!.vscode/*.code-snippets
*.egg-info
.mypy_cache
.pytest_cache
.coverage
coverage.xml
_build
.nox
*.ipynb

# Node
node_modules
